<div flex-flow="column" class=""{{ class_name }}">
    <input type="text" name="address-line-1" class="{{ class_name }}" >Address Line 1</input>
    <input type="text" name="address-line-2" class="{{ class_name }}">Address Line 2</input>
    <div flex-flow="row">
        <input type="text" name="city" class="{{ class_name }}">City</input>
        <input type="text" name="state/province" class="{{ class_name }}">State or Province</input>
    </div>
    <input type="text" name="country" class="{{ class_name }}">Country</input>
</div> 
